<div class='w-full h-full bg-slate-50 flex justify-center items-center'>
  <div class='w-full bg-yellow-100 flex items-center justify-center gap-x-2'>
    <div class='w-36 aspect-square bg-red-100 p-2'>
      <div class="w-full aspect-square bg-inherit">
        <img
          class="w-full h-full"
          src="{{"image1.jpg" | asset_img_url}}"
          alt="Product Image" />
      </div>
    </div>
    <div class='w-36 aspect-square bg-red-100'></div>
    <div class='w-36 aspect-square bg-red-100'></div>
    <div class='w-36 aspect-square bg-red-100'></div>
  </div>
</div>