<div>
  <a href="{{product.url}}">
    <img
      width="400"
      height="400"
      src="{{ product.featured_image |  image_url}}"
    >
    <h3>{{ product.title }}</h3>
    <p>{{ product.price | money }}</p>
  </a>
</div>
