<div class='image-slider'>
  <img
    width='200px'
    height='200px'
    src='{{ section.settings.image-slider | image_url }}'
    alt='Slider Image'
  >
</div>

{% schema %}
{
  "name": "Image Slider",
  "settings": [
    {
      "type": "image_picker",
      "label": "Pick Your Images",
      "id": "image-slider",
      "info": "Upload images for the slider"
    }
  ],
  "presets": [
    {
      "name": "Image Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
